




.lampadaEWS440{
    display: flex;
padding-inline-start: 50px;
padding-inline-end: 50px;
}
.margemEWS440{
    margin-top: 70px;
}
.foto1ews440{
    width: 200px;
    height: 300px;
    margin-inline-start: 120px;
    }
.header,main,foot{
    margin:0 auto;
    padding:1vw;
    font-size:1.2vw;
    font-size:min(255px, 1.5vw);
    }
.fotoEWS440 img{ 
    
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    border-width: 2px;
    border-color: rgb(0, 134, 255);
    border-style: solid;
    border-radius: 6px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: .35s;   
}
.precoEWS440{
    font-family: Roboto, sans-serif;
    margin-top: 30px;
  padding-inline-start: 130px;     
}
.botao12{
    margin-top: 30px;
    padding: 15px;
    background:#4fb327be;
    border-radius: 5px;   
    justify-content: center;
    text-align: center;
    color: white;  
}
.icon{
color:rgba(255, 255, 255, 0.74);
}

.botao134{
margin-top: 15px;
    padding: 15px;
    background:#4fb327be;
    border-radius: 5px;   
    justify-content: center;
    text-align: center;
    color: white;  
}
.contador{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
}

.contador1 div h2{  
    background-color: transparent;
    border-color: black;
    border-style: double;
    font-size: 15px;
    border: none;
}
.contador2 h1 {

    font-size: 25px;
}
.button{
    font-size: 15;
    background-color: transparent;
    border-style: none;  
}
.contador1{
    gap: 10px;
     display: flex;
    }

    .testoEWS440{
        font-size: 25PX;
    }

    .informacaodoproduto{
    margin-top: 80px;
    padding-inline-start: 40px;
}
.legend{
    margin-top: 90px;
    padding-inline-start: 25px;
}
::marker{
    color: #e0331cde;
}